.theme-teal .navbar {
  background-color: #009688; }

.theme-teal .navbar-brand {
  color: #fff; }
  .theme-teal .navbar-brand:hover {
    color: #fff; }
  .theme-teal .navbar-brand:active {
    color: #fff; }
  .theme-teal .navbar-brand:focus {
    color: #fff; }

.theme-teal .nav > li > a {
  color: #fff; }
  .theme-teal .nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0); }
  .theme-teal .nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0); }

.theme-teal .nav .open > a {
  background-color: rgba(0, 0, 0, 0); }
  .theme-teal .nav .open > a:hover {
    background-color: rgba(0, 0, 0, 0); }
  .theme-teal .nav .open > a:focus {
    background-color: rgba(0, 0, 0, 0); }

.theme-teal .bars {
  color: #fff; }

.theme-teal .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0); }
  .theme-teal .sidebar .menu .list li.active > :first-child i,
  .theme-teal .sidebar .menu .list li.active > :first-child span {
    color: #009688; }

.theme-teal .sidebar .menu .list .toggled {
  background-color: rgba(0, 0, 0, 0); }

.theme-teal .sidebar .menu .list .ml-menu {
  background-color: rgba(0, 0, 0, 0); }

.theme-teal .sidebar .legal {
  background-color: #fff; }
  .theme-teal .sidebar .legal .copyright a {
    color: #009688 !important; }
